# Class # 01 Print Statment

In [1]:
print("Hello World")

Hello World

In [1]:
print ("Kashan Zafar")

Kashan Zafar

# Variable for String

In [1]:
name = "Kashan zafar"
nationality = "Pakistani"
print("My Name is : " + name)
print("I am " +nationality)

My Name is : Kashan zafar
I am Pakistani

# Variable for Number

In [4]:
#You can use many simble to ADD Multiply and Division
first_num = 120
second_num = 130
Ans = first_num + second_num
print(Ans)

250

# Familiar Operators

In [6]:
#ALL Calculation in this Operation
first_num = 65
second_num = 20
third_num = 5
AnsADD = first_num + second_num + third_num
AnsSUB = first_num - second_num - third_num
AnsMUL = first_num * second_num * third_num
AnsDIV = first_num / second_num / third_num
print(AnsADD)
print(AnsSUB)
print(AnsMUL)
print(AnsDIV)

90
40
6500
0.65

# Variable Names Legal and Illegal

In [7]:
#Name start with Number is ilegal
#Name Start with Character is ilegal
#keyword of Python Language

# Unfamiliar Operator

In [10]:
# % modulo Operator just like 10 / 3 (1 in reminder its Shows in modulo)
modulo = 10 %3
print(modulo)

1

In [22]:
#if we want add any number in we could age + 1 like that But we also do like that
age = 25
age += 1
#age -= 1
#age *= 2

print(age)

26

# Math expressions: Eliminating Ambiguity

In [7]:
total = 1 + 2 * 4
total1 = ((2 * 4) * 4) + 2
total2 = (2 * 4) * (4 + 2)
print(total)

9

# Concetinating Text

In [32]:
name = "Kashan"
age = 24
f_name = "Zafar Alam"
Sentence = "My name is "+name+".My father Name is "+f_name+" and i am "+str(age)+" year Old."
print(Sentence)
print("My name is {}.My father Name is {} and i am {} year Old.".format(name,f_name,age))

My name is Kashan.My father Name is Zafar Alam and i am 24 year Old.
My name is Kashan.My father Name is Zafar Alam and i am 24 year Old.

# IF Statment

In [50]:
userInput = int(input("Give me int Number "))
if userInput > 6:
    print("you enter Greater than 6 Number")
else:
    print("You enter Less then or equal to 6 Number")

Give me int Number 7
you enter Greater than 6 Number

In [4]:
DL = input("Do you have Driving Licence? ").upper()
DL = DL.replace(" ","")
if DL == "YES":
    print("Okey Go away")
else:
    CP = input("Do you have Car Paper? ").upper()
    CP = CP.replace(" ","")
    if CP == "YES":
        print("Okey Go Away")
    else:
        Money = input("Do you have Money? ").upper()
        Money = Money.replace(" ","")
        if Money == "YES":
            print("Okey Go away")
        else:
                print("Chal beta Side m aja :D")

Do you have Driving Licence? no
Do you have Car Paper? no
Do you have Money?  yes
Okey Go away

# LIST

In [14]:
listOfCity = ["Karachi","Lahore","hyderabad","Islamabad","Queeta","Peshawar"]
#Adding Cities in list
listOfCity.append("Gilgit")
#Insert City in list with given Position
listOfCity.insert(0,"Sawat")
listOfCity

['Sawat',
 'Karachi',
 'Lahore',
 'hyderabad',
 'Islamabad',
 'Queeta',
 'Peshawar',
 'Gilgit']

# Taking Slice from List

In [17]:
listOfCity[0:3]
#You can Slice the list in many order just like
#listOfCity[:9]
#listOfCity[0:9]
#listOfCity[2:6]
#listOfCity[0:]
#You ca also Do it with negative Number

['Sawat', 'Karachi', 'Lahore']

# Deleting and Removing Element from List.

In [18]:
listOfCity

['Sawat',
 'Karachi',
 'Lahore',
 'hyderabad',
 'Islamabad',
 'Queeta',
 'Peshawar',
 'Gilgit']

In [19]:
del listOfCity[0]

In [20]:
listOfCity

['Karachi', 'Lahore', 'hyderabad', 'Islamabad', 'Queeta', 'Peshawar', 'Gilgit']

In [29]:
#You can also strike an element off a list by specifying its value instead of its
#index number just Like
listOfCity
listOfCity.remove("Gilgit")
#Forget this Error You can see gilgit in upper out put but not in lower

ValueError: list.remove(x): x not in list

In [30]:
listOfCity

['Karachi', 'Lahore', 'hyderabad', 'Islamabad', 'Queeta', 'Peshawar']

# Popping Element

In [31]:
listOfCity

['Karachi', 'Lahore', 'hyderabad', 'Islamabad', 'Queeta', 'Peshawar']

In [32]:
getCity = listOfCity.pop(1)
#Lahore Gone

In [35]:
listOfCity

['Karachi', 'hyderabad', 'Islamabad', 'Queeta', 'Peshawar']

In [36]:
getCity

'Lahore'

AttributeError: 'str' object has no attribute 'append'