# Class # 01 Print Statment

In [1]:
print("Hello World")

Hello World

In [1]:
print ("Kashan Zafar")

Kashan Zafar

# Variable for String

In [1]:
name = "Kashan zafar"
nationality = "Pakistani"
print("My Name is : " + name)
print("I am " +nationality)

My Name is : Kashan zafar
I am Pakistani

# Variable for Number

In [4]:
#You can use many simble to ADD Multiply and Division
first_num = 120
second_num = 130
Ans = first_num + second_num
print(Ans)

250

# Familiar Operators

In [6]:
#ALL Calculation in this Operation
first_num = 65
second_num = 20
third_num = 5
AnsADD = first_num + second_num + third_num
AnsSUB = first_num - second_num - third_num
AnsMUL = first_num * second_num * third_num
AnsDIV = first_num / second_num / third_num
print(AnsADD)
print(AnsSUB)
print(AnsMUL)
print(AnsDIV)

90
40
6500
0.65

# Variable Names Legal and Illegal

In [7]:
#Name start with Number is ilegal
#Name Start with Character is ilegal
#keyword of Python Language

# Unfamiliar Operator

In [10]:
# % modulo Operator just like 10 / 3 (1 in reminder its Shows in modulo)
modulo = 10 %3
print(modulo)

1

In [22]:
#if we want add any number in we could age + 1 like that But we also do like that
age = 25
age += 1
#age -= 1
#age *= 2

print(age)

26

# Math expressions: Eliminating Ambiguity

In [7]:
total = 1 + 2 * 4
total1 = ((2 * 4) * 4) + 2
total2 = (2 * 4) * (4 + 2)
print(total)

9

# Concetinating Text

In [32]:
name = "Kashan"
age = 24
f_name = "Zafar Alam"
Sentence = "My name is "+name+".My father Name is "+f_name+" and i am "+str(age)+" year Old."
print(Sentence)
print("My name is {}.My father Name is {} and i am {} year Old.".format(name,f_name,age))

My name is Kashan.My father Name is Zafar Alam and i am 24 year Old.
My name is Kashan.My father Name is Zafar Alam and i am 24 year Old.

# IF Statment

In [50]:
userInput = int(input("Give me int Number "))
if userInput > 6:
    print("you enter Greater than 6 Number")
else:
    print("You enter Less then or equal to 6 Number")

Give me int Number 7
you enter Greater than 6 Number

In [4]:
DL = input("Do you have Driving Licence? ").upper()
DL = DL.replace(" ","")
if DL == "YES":
    print("Okey Go away")
else:
    CP = input("Do you have Car Paper? ").upper()
    CP = CP.replace(" ","")
    if CP == "YES":
        print("Okey Go Away")
    else:
        Money = input("Do you have Money? ").upper()
        Money = Money.replace(" ","")
        if Money == "YES":
            print("Okey Go away")
        else:
                print("Chal beta Side m aja :D")

Do you have Driving Licence? no
Do you have Car Paper? no
Do you have Money?  yes
Okey Go away

# LIST

In [2]:
listOfCity = ["Karachi","Lahore","hyderabad","Islamabad","Queeta","Peshawar"]
#Adding Cities in list
listOfCity.append("Gilgit")
#Insert City in list with given Position
listOfCity.insert(0,"Sawat")
listOfCity

['Sawat',
 'Karachi',
 'Lahore',
 'hyderabad',
 'Islamabad',
 'Queeta',
 'Peshawar',
 'Gilgit']

# Taking Slice from List

In [17]:
listOfCity[0:3]
#You can Slice the list in many order just like
#listOfCity[:9]
#listOfCity[0:9]
#listOfCity[2:6]
#listOfCity[0:]
#You ca also Do it with negative Number

['Sawat', 'Karachi', 'Lahore']

# Deleting and Removing Element from List.

In [3]:
listOfCity

['Sawat',
 'Karachi',
 'Lahore',
 'hyderabad',
 'Islamabad',
 'Queeta',
 'Peshawar',
 'Gilgit']

In [19]:
del listOfCity[0]

In [4]:
listOfCity

['Sawat',
 'Karachi',
 'Lahore',
 'hyderabad',
 'Islamabad',
 'Queeta',
 'Peshawar',
 'Gilgit']

In [29]:
#You can also strike an element off a list by specifying its value instead of its
#index number just Like
listOfCity
listOfCity.remove("Gilgit")
#Forget this Error You can see gilgit in upper out put but not in lower

ValueError: list.remove(x): x not in list

In [30]:
listOfCity

['Karachi', 'Lahore', 'hyderabad', 'Islamabad', 'Queeta', 'Peshawar']

# Popping Element

In [31]:
listOfCity

['Karachi', 'Lahore', 'hyderabad', 'Islamabad', 'Queeta', 'Peshawar']

In [5]:
getCity = listOfCity.pop(0)
#Lahore Gone

In [6]:
listOfCity

['Karachi', 'Lahore', 'hyderabad', 'Islamabad', 'Queeta', 'Peshawar', 'Gilgit']

In [7]:
getCity

'Sawat'

In [8]:
listOfCity.append(getCity)

In [9]:
listOfCity

['Karachi',
 'Lahore',
 'hyderabad',
 'Islamabad',
 'Queeta',
 'Peshawar',
 'Gilgit',
 'Sawat']

# TUPLES

In [10]:
food = ("Apple","Mango","Stawberry","Grapes","cherry")
food
#tupes just like constant you can not change or Update those values define in tuples.

('Apple', 'Mango', 'Stawberry', 'Grapes', 'cherry')

# LOOPS

In [11]:
li = [1,2,3,4,5,6,7,8,9]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
print(li[0])
print(li[1])
print(li[2])
print(li[3])
print(li[4])
print(li[5])
print(li[6])
print(li[7])
print(li[8])

1
2
3
4
5
6
7
8
9

In [14]:
for i in li:
    print(i)

1
2
3
4
5
6
7
8
9

In [15]:
cities = ["karachi","Lahore","Rawalpindi","Sialkot","Larkana"]
for i in cities:
    if i == "karachi":
        print(f"{i}: Foods Lover")
    else:
        if i == "Lahore":
            print(f"{i}: Sports Lover")
        else:
            if i == "Rawalpindi":
                print(f"{i}: Pindi Boys")
            else:
                if i == "Sialkot":
                    print(f"{i}: Sport Production")
                else:
                    if i == "Larkana":
                        print(f"{i}: Bhutto")

karachi: Foods Lover
Lahore: Sports Lover
Rawalpindi: Pindi Boys
Sialkot: Sport Production
Larkana: Bhutto

In [16]:
for i in li:
    if i == 5:
        break
    else:
        print(i)

1
2
3
4

In [17]:
for i in li:
    if i != 5:
        print(i)

1
2
3
4
6
7
8
9

In [18]:
for i in li:
    if i == 5:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9

In [19]:
for i in li:
    if i == 2:
        continue
    elif (i == 8):
        break
    else:
        print(i)

1
3
4
5
6
7

In [20]:
l2 = list(range(2,21,2))
l2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [21]:
l3 = list(range(20,0,-2))
l3

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [22]:
l5 = list(range(50,0,-5))
l5

[50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

In [23]:
list=[]
for i in range(2000 , 3200):
    if (i%7==0) and (i%5!=0):
        list.append(str(i))
print (','.join(list))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [24]:
#Assigment
#Take a number from user and give m a factorial of this Number
#8*7*6*5*4*3*2*1 = Ans
number = int(input())
for i in range(number - 1,1,-1):
    number = number * i
print(str(number))

14
87178291200

In [25]:
#For LOOP
# jb tk For loop ki conndition khatam nae hoti chalta rhyga
for number in range(1):
    n1 = int(input())
    n2 = int(input())
    sum = n1 * n2
    print(sum)

2
1
2

In [26]:
#While Loop
#loop break in user End
flag = True
while flag:
    number = input("Enter a number : ")
    print(number)
    if number =='q':
        flag=False

Enter a number : 14
14
Enter a number : 12
12
Enter a number : 12
12
Enter a number : q
q

In [38]:
#make a employee list
#1)Check the employee
#Sales 
#2)diffrentiate Good and Bad Employee make list
#3)if input name employee is not in list give msg
#4)Quite program
empList = []
empSale = []
goodEmp = []
badEmp = []
#print ("Do you want to Employee Data : (Y/N)")
#option = input()
#if option == 'y' :
#    flag = True
#else:
flag = True
while flag:
    employee = input("Give me a Employee Name : ")
    
    if employee == 'q':
        flag = False
    else:
        sale = int(input("Give me Employee Sale : "))
        empList.append(employee)
        empSale.append(sale)


for maxSale in (empSale):
    if maxSale > 5000:
        goodEmp.append(empSale)
    else:
        badEmp.append(empList)

print("The Employee in the list are ",empList)
print("The Employee in the list are ",empSale)
print("The Employee in the list are ",badEmp)
print("The Employee in the list are ",goodEmp)

Give me a Employee Name : Kashan
Give me Employee Sale : 7000
Give me a Employee Name : q

AttributeError: 'list' object has no attribute 'value'